body {
	background-color: white;
}


.container {
	max-width: 1100px;
	display: flex;
	justify-content: space-between; 
}

#container {
	max-width: 1100px;
	display: flex;
	justify-content: space-between; 
}
.container-go {
	max-width: 1100px;
	display: flex;
	/*justify-content: space-between;*/
}

#menus{
    
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;

}
#click_button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}
.main-title {
	position: center;
	margin: 35px;
	display:  flex; 
	justify-content: space-between;
}

#myinput {
	padding-right: 50px;
	border-radius: 8px;
	font-size: 30px;
	font-family: arial;
	height: 45px;
}
.search{
	padding-right: 100px;
	border-radius: 16px;
}	


#menu-box {
	display: none;
    display: fixed;
	padding-right: 30%;
	height: ;
	width: 	0,9px;

	margin: auto;
	background-color: snow;
	font-size: 25px;
	font-family: arial;
	
}



#carts1 {
	display: flex;
    max-width: 1245px;
   /*justify-content: space-between;*/
    margin: 35px; 
    padding-left: 35%;

}


.carts {
	display: flex;
    max-width: 1245px;
    /*justify-content: space-between;*/
    margin: auto;
    padding-left: 25%; 

}


.cart {
	height: 360px;
	width: 600px;
	background-color: snow;
	margin: 20px;
}


h3 {
	color: gray;
}